a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
 margin:0;
 padding:0;
 border:0;
 font-size:100%;
 font:inherit;
 vertical-align:baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 display:block
}
body {
 line-height:1
}
ol,
ul {
 list-style:none
}
blockquote,
q {
 quotes:none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
 content:"";
 content:none
}
table {
 border-collapse:collapse;
 border-spacing:0
}
body {
 margin:.5rem;
 font-family:Arial,sans-serif;
 line-height:24px
}
#page {
 margin:0 auto;
 max-width:30rem
}
main {
 display:block;
 padding:.7rem;
 margin-bottom:.7rem;
 background-color:#efefef
}
a {
 color:inherit
}
a:hover {
 text-decoration:none
}
h1 {
 font-size:22px;
 line-height:35px;
 font-weight:700;
 padding:.7rem
}
.ok h1 {
 background-color:#1c8233;
 color:#fff
}
.warn h1 {
 background-color:#ffc107;
 color:#343a40!important
}
.bad h1 {
 background-color:#dc3545;
 color:#fff
}
dt {
 font-weight:700;
 clear:both
}
dd {
 margin-bottom:.7rem;
 font-family:"Courier New",Courier,monospace
}
dd strong {
 font-family:Arial,sans-serif;
 display:inline-block;
 padding:.1rem .4rem;
 background-color:#555;
 color:#fff;
 border-radius:.2rem
}
dd:last-of-type {
 margin-bottom:0
}
.inline {
 float:left;
 margin-top:.125rem;
 margin-bottom:.7rem
}
dt.inline {
 min-width:7rem
}
footer {
 text-align:center
}
